
.col-9 {
  border-style: double;
  width: 75%;
}
/*end container*/
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 991px){
}
@media only screen and (max-width: 768px){
  .col-9 {
    width: 100%;
    border-style: double;;
  }
}
@media only screen and (max-width: 575px){
}
