
.col-6 {
  border-style: double;
  height:350px;
  width: calc(100%/2);
}
/*end container*/
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 991px){
  .col-6 {
    width: 100%;
    border-style: double;;
  }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 575px){
}
