.code_grid{
      display: grid;
      grid-template-columns: 100% repeat(4,70%);
      grid-template-rows: 3fr 14fr 34fr 4fr;;
      grid-template-areas: 
      "nav nav nav nav nav"
      "sidebar main main main main"
      "sidebar content1 content2 content3 content3 "
      "footer footer footer footer footer";
      text-transform: uppercase;
      text-align: center;
      grid-gap: 0.1rem ;
}
nav{
  background-color: #191932;
  border-style: double;
  grid-area: nav;
}

main{
  background-color: #191932;
  border-style: double;
  grid-area: main;
}

#content1{
  background-color: #191932;
  border-style: double;
  grid-area: content1;
}

#content2{
  background-color: #191932;
  border-style: double;
  grid-area: content2;
}

#content3{
  background-color: #191932;
  border-style: double;
  grid-area: content3;
}

#sidebar{
  background-color: #191932;
  border-style: double;
  grid-area: sidebar;
}

footer{
  background-color: #191932;
  border-style: double;
  grid-area: footer;
}
@media only screen and (max-width: 1200px){
.code_grid{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6,1fr);
  grid-template-areas: 
  "nav"
  "sidebar"
  "main" 
  "content1"
  "content2"
  "content3"
  "footer";
  flex:1 0 auto;
}
}
@media only screen and (max-width: 991px){

}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 575px){
}