*{
margin: 0px;
}
body{
background:url(/img/img2.jpeg) no-repeat;
background-size: cover;
display: block;
position: relative;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* start nav-bar-1 on header */
.nav_bar_1{
    height: 40px;
    background-color: #191932;
    position: sticky;
    z-index: 2;
    width: 100%;
    margin-top: 10px;
    backdrop-filter: blur(10px);
}
.Logo{
display: inline;
color: #F2F2F2;
margin-left:35px ;
position: relative;
float: left;
top: calc(80%/3);
}
.dropdown{
    top: 0px;
    list-style-type: none;
    width: 85%;
    left: 15%;
    position: fixed;
    border-radius: 15px 0px 0px 15px;
    box-shadow: -4px -4px 10px black, 4px 4px 10px black;
}
.dropdown-content {
    position: relative;
    margin: 1px;
    display: flex;
    text-align: center;
    padding-inline-start: 0px;
}
.dropdown li{
display: inline;
list-style: none;
float: right;
font-weight: bold;
padding: 10px; 
border-radius: 5px;
}
.dropdown li a{
    text-decoration: none; 
    font-size: 16px;
    font-weight: 600;
    color: #1e87f0;
    margin-top: 5px;
    margin-left: 15px;
    padding:5px;
}
.dropdown li a:hover{
    border-bottom-color: #1e33f0 ;
    border-bottom-style:solid;
    z-index: 999; 
}

.sub-menus{
height: auto;
overflow: hidden;
position: absolute;
z-index: 999;
border-radius: 5px;
box-shadow: -4px -4px 10px #00000018;
backdrop-filter: blur(10px);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
background-color: rgba(3, 1, 12, 0.877);
display: none;
width: 160px;
padding-left: 0px;
margin: 10px 10px 10px -30px;
}
.sub-menus li {
display: block;
width: 100%;
padding-bottom: 0px;
}
.sub-menus a {
color: #FFFFFF;
font-size: 16px;
padding: 0.5rem 1rem;
}
li:hover .sub-menus {
display: block;
}
.sub-menus a:hover{
background: #F2F2F2;
color: #444444;
}
 /* end nav-bar-1 header  */
 /* start nav-bar-2 */
.main-grid{
background-color: #191932;
height: 50px;
display: flex;
justify-content: center;
}
#nav-2{
    display: flex;
    padding: 0px;
    width: 450px;
    height: 50px;
    position: absolute;
    box-shadow: 0 0 24px rgb(3 1 12 / 88%);
}
#nav-2 li{
    flex: 1;
    padding: 15px;
    list-style: none;
    text-align: center;
}
#nav-2 li a i{
    font-size:1.6em;
 }
#nav-2 li a{
    text-decoration: none; 
 }
 #nav-2 li:nth-child(1) a:hover i,
 #nav-2 li:nth-child(2) a:hover i,
 #nav-2 li:nth-child(3) a:hover i,
 #nav-2 li:nth-child(4) a:hover i,
 #nav-2 li:nth-child(5) a:hover i{
    color: #cbd0d4;
    transition:  ease 0.6s;
}
#nav-2 li:nth-child(1):hover,
#nav-2 li:nth-child(2):hover,
#nav-2 li:nth-child(3):hover,
#nav-2 li:nth-child(4):hover,
#nav-2 li:nth-child(5):hover{
   background-color: #0e243a;
   transition:  ease 0.6s;
}
#nav-2 li:nth-child(1) a i{
    color: #1e87f0;
}
#nav-2 li:nth-child(2) a i{
    color: #df3c0b;
}
#nav-2 li:nth-child(3) a i{
    color: #0d31d1;
}
#nav-2 li:nth-child(4) a i{
    color: #dfd110;
}
#nav-2 li:nth-child(5) a i{
    color: #be0fe0;
}
  /* end nav-bar-2*/
/* start nav-bar-3 */
.main-grid{
background-color: #191932;
height: 50px;
display: flex;
justify-content: center;
}
#nav-3{
display: flex;
padding: 0px;
width: 450px;
height: 50px;
position: absolute;
box-shadow: 0 0 24px rgb(3 1 12 / 88%);
}
#nav-3 li{
flex: 1;
padding: 15px;
list-style: none;
text-align: center;
}
#nav-3 li a i{
font-size:1.6em;
}
#nav-3 li a{
text-decoration: none; 
}
#nav-3 li:nth-child(1) a:hover i,
#nav-3 li:nth-child(2) a:hover i,
#nav-3 li:nth-child(3) a:hover i,
#nav-3 li:nth-child(4) a:hover i,
#nav-3 li:nth-child(5) a:hover i{
color: #cbd0d4;
transition:  ease 0.6s;
}
#nav-3 li:nth-child(1):hover,
#nav-3 li:nth-child(2):hover,
#nav-3 li:nth-child(3):hover,
#nav-3 li:nth-child(4):hover,
#nav-2 li:nth-child(5):hover{
background-color: #0e243a;
transition:  ease 0.6s;
}
#nav-3 li:nth-child(1) a i{
color: #1e87f0;
}
#nav-3 li:nth-child(2) a i{
color: #df3c0b;
}
#nav-3 li:nth-child(3) a i{
color: #0d31d1;
}
#nav-3 li:nth-child(4) a i{
color: #dfd110;
}
#nav-3 li:nth-child(5) a i{
color: #be0fe0;
}
/* end nav-bar-3*/
 /* start nav bar mobile */
 .icon_mobile{
    display: none;
    }
@media only screen and (max-width: 991px){
.dropdown-content {
display: none;
}
ul.icon_mobile{
letter-spacing: 0px;
top: 150px;
height: 335px;
position: fixed;
right: 0px;
display: inline-block;
z-index: 999;
margin-top: 44px;
list-style: none;
padding: 5px;
}
ul li{
margin: 0px 0px;
}
ul li a{
text-decoration: none;
color: #b810c7 ;
height: 55px;
font-weight: 600;
line-height: 50px;
display: flex;
flex-direction: row-reverse;
}
ul li a i{
color: #b810c7 ;

}
ul li  a span i{
padding-left: 0px;
width: 40px;
}
ul li a span:nth-child(2){
margin: 0px;
display: grid;
place-items: center;
border-style: outset;
text-align: center;
border-width: 4px;
border-color: #160d1473;
box-shadow: -4px -1px 0px 0px #000000, 0px 0px 0px;
width: 40px;
height:75%;
border-radius: 50%;
}
ul li a span:nth-child(1){
width: 0px;
height: 80%;
font-size: 17px;
background: #160d1473;
text-transform: uppercase;
letter-spacing: 2px;
overflow: hidden;
margin-right: 5px;
border-radius: 50px 0px 0px 50px;
transition: 0.3s ease;
backdrop-filter: blur(5px);
box-shadow: 6px 6px 0px 0px #000000, 0px 0px 0px;
text-align: center;
}
ul li a:hover span:nth-child(1){
width: 120px;
padding-left: 20px;
}
}
 /* end nav bar mobile */

 /* start side bar left */
 .side-bar-left{
    left: 0px;
    position: absolute;
 }
 .side-bar-left input,.side-bar-left label{
    margin-left: 133px;
    color: #fff;
 }
 .side-bar-left .menu{
    background: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    height: auto;
    position: relative;
    left: 0px;
    box-shadow: 0 0 6px rgb(3 1 12 / 88%);
}
 .side-bar-left .menu div{
    flex: 1;
}
 .side-bar-left .menu div a{
    text-decoration: none;
    display: flex;
    width: auto;
    height: 100%;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    justify-content: space-around;
    align-items: center;
 }
 .side-bar-left .menu div a i{
    font-size:1.3em;
 }

 .side-bar-left .menu div a .child-1{
    width: 125px;
    color: #fff;
 }
 .side-bar-left .menu div a .child-2{
    width: 50px;
    text-align: center;  
 }
  .side-bar-left .menu div:nth-child(1) a:hover i,
  .side-bar-left .menu div:nth-child(2) a:hover i,
  .side-bar-left .menu div:nth-child(3) a:hover i,
  .side-bar-left .menu div:nth-child(4) a:hover i,
  .side-bar-left .menu div:nth-child(5) a:hover i{
    color: #cbd0d4;
    transition:  ease 0.6s;
}
 .side-bar-left .menu div:nth-child(1):hover,
 .side-bar-left .menu div:nth-child(2):hover,
 .side-bar-left .menu div:nth-child(3):hover,
 .side-bar-left .menu div:nth-child(4):hover,
 .side-bar-left .menu div:nth-child(5):hover{
   background-color: #0e243a;
   transition:  ease 0.6s;
}
 .side-bar-left .menu div:nth-child(1) a i{
    color: #1e87f0;
}
 .side-bar-left .menu div:nth-child(2) a i{
    color: #df3c0b;
}
 .side-bar-left .menu div:nth-child(3) a i{
    color: #0d31d1;
}
 .side-bar-left .menu div:nth-child(4) a i{
    color: #dfd110;
}
 .side-bar-left .menu div:nth-child(5) a i{
    color: #be0fe0;
}
.side-bar-left>input{
    display: none;
}
.side-bar-left>label{
    display: block;
    padding: 10px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}
 .side-bar-left .menu>div{ 
    width: 190px;
    }
#side-hide-left:checked ~ .menu>div{
    width: 50px;
    height: 80%;
    overflow: hidden;
    margin-right: 0px;
    transition: 0.3s ease;
}
#side-hide-left:checked ~ label {
    margin-left: 25%;
    transition: 0.3s ease;
}
#side-hide-left:checked ~ .menu div a .child-1{
   display: none;
 }
 /* end side bar left */

 /* start side bar right */
 .side-bar-right{
    right: 0;
    position: absolute;
 }
 .side-bar-right input,.side-bar-right label{
    margin-left: 10px;
    color: #fff;
 }
 .side-bar-right .menu{
    background: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(15px);
    height: auto;
    right: 0;
    position: relative;
    box-shadow: 0 0 6px rgb(3 1 12 / 88%);
}
 .side-bar-right .menu div{
    flex: 1;
}
 .side-bar-right .menu div a{
    text-decoration: none;
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    height: 100%;
    padding: 15px 15px 15px 15px;
    margin: 5px 5px 5px 5px;
    justify-content: space-around;
    align-items: center;
 }
 .side-bar-right .menu div a i{
    font-size:1.3em;
 }

 .side-bar-right .menu div a .child-1{
    width: 40px;
    text-align: end;
    color: #fff;
 }
 .side-bar-right .menu div a .child-2{
    width: 110px;
 }
  .side-bar-right .menu div:nth-child(1) a:hover i,
  .side-bar-right .menu div:nth-child(2) a:hover i,
  .side-bar-right .menu div:nth-child(3) a:hover i,
  .side-bar-right .menu div:nth-child(4) a:hover i,
  .side-bar-right .menu div:nth-child(5) a:hover i{
    color: #cbd0d4;
    transition:  ease 0.6s;
}
 .side-bar-right .menu div:nth-child(1):hover,
 .side-bar-right .menu div:nth-child(2):hover,
 .side-bar-right .menu div:nth-child(3):hover,
 .side-bar-right .menu div:nth-child(4):hover,
 .side-bar-right .menu div:nth-child(5):hover{
   background-color: #0e243a;
   transition:  ease 0.6s;
}
 .side-bar-right .menu div:nth-child(1) a i{
    color: #1e87f0;
}
 .side-bar-right .menu div:nth-child(2) a i{
    color: #df3c0b;
}
 .side-bar-right .menu div:nth-child(3) a i{
    color: #0d31d1;
}
 .side-bar-right .menu div:nth-child(4) a i{
    color: #dfd110;
}
 .side-bar-right .menu div:nth-child(5) a i{
    color: #be0fe0;
}
.side-bar-right>input{
    display: none;
}
.side-bar-right>label{
    display: block;
    padding: 10px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}
 .side-bar-right .menu>div{ 
    width: 190px;
    }
#side-hide-right:checked ~ .menu>div{
    width: 55px;
    height: 80%;
    overflow: hidden;
    margin-right: 0px;
    transition: 0.3s ease;
}
#side-hide-right:checked ~ label {
    margin-right: 10px;
    transition: 0.3s ease;
}
#side-hide-right:checked ~ .menu div a .child-1{
   display: none;
 }
 /* end side bar right */

  /* start side bar responsive */
 