.row{
    height: 100%;
    background-color: transparent;
    display: flex;
    margin: 25px 60px 5px 60px;
    padding-left: 15px;
    padding-right: 15px;
    border-style:double;
}
/*end container*/
@media only screen and (max-width: 1200px){
}
@media only screen and (max-width: 991px){
}
@media only screen and (max-width: 768px){
  .row{
    flex-wrap: wrap;
}
}
@media only screen and (max-width: 575px){
}

